* {
    margin: 0;
}

.ck-editor__editable {
    min-height: 250px;
}

/* .background {
    background: rgb(230, 245, 234);
    background: linear-gradient(
        300deg,
        rgba(230, 245, 234, 1) 0%,
        rgba(156, 212, 172, 1) 25%,
        rgba(83, 184, 116, 1) 47%,
        rgba(41, 157, 83, 1) 69%,
        rgba(22, 122, 60, 1) 100%
    );
} */

/* #133478 */
.background {
    background: rgb(230, 233, 242);
    background: linear-gradient(
        300deg,
        rgba(230, 233, 242, 1) 0%,
        rgba(151, 165, 202, 1) 20%,
        rgba(79, 104, 166, 1) 50%,
        rgba(37, 72, 144, 1) 80%,
        rgba(19, 53, 120, 1) 100%
    );
}
